{% extends 'base.html' %}
{% load static %}
{% block body %}
<header class="am-topbar am-topbar-fixed-top">
	<div class="am-container">
		<div class="am-topbar-brand">
			<img src="{% static 'static_shared/img/logo_dark.svg' %}" height="30px"><strong>洋光教育咨询</strong>
		</div>

		<button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#doc-topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

		<div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse">
			<ul class="am-nav am-nav-pills am-topbar-nav">
				<li class="am-active"><a href="#">关于我们</a></li>
				<li><a href="#">论文辅导</a></li>
				<li><a href="#">数学建模</a></li>
				<li><a href="#">数学竞赛</a></li>
				<li><a href="#">名校资讯</a></li>
				<li><a href="#">联系我们</a></li>
			</ul>
			<div class="am-topbar-right">
				<button class="am-btn am-btn-primary am-topbar-btn am-btn-sm"><span class="am-icon-user"></span> 登 录</button>
				<button class="am-btn am-btn-secondary am-topbar-btn am-btn-sm"><span class="am-icon-pencil"></span> 注 册</button>
			</div>
		</div>
	</div>
</header>
	<div class="am-slider am-slider-default" data-am-flexslider>
		<ul class="am-slides">
			<li><img src="http://aimg8.dlszyht.net.cn/ev_user_module_content_tmp/2017_12_18/tmp1513605357_1558922_s.jpg" /></li>
			<li><img src="http://aimg8.dlszyht.net.cn/ev_user_module_content_tmp/2017_12_18/tmp1513605690_1558922_s.jpg" /></li>
			<li><img src="http://aimg8.dlszyht.net.cn/ev_user_module_content_tmp/2017_12_18/tmp1513605027_1558922_s.jpg" /></li>
		</ul>
	</div>
<div>GGGG</div>
<footer>
	I am footer

</footer>
{% endblock %}
