{% extends 'dashboard/dashboard.html' %}
{% block content %}

<div class="am-g">
	<div class="am-u-sm-12">
		<ul class="am-tabs-nav am-nav am-nav-tabs am-nav-justify">
			<li {% if page_tab == "国家" %}class="am-active"{% endif %}>
				<a href="{% url 'dashboard:ApplyManagementCountryListView' %}">国家</a>
			</li>
			<li {% if page_tab == "学校" %}class="am-active"{% endif %}>
				<a href="{% url 'dashboard:ApplyManagementSchoolListView' %}">学校</a>
			</li>
			<li {% if page_tab == "学院" %}class="am-active"{% endif %}>
				<a href="{% url 'dashboard:ApplyManagementCollegeListView' %}">学院</a>
			</li>
			<li {% if page_tab == "专业" %}class="am-active"{% endif %}>
				<a href="{% url 'dashboard:ApplyManagementMajorListView' %}">专业</a>
			</li>
			<li {% if page_tab == "学位" %}class="am-active"{% endif %}>
				<a href="{% url 'dashboard:ApplyManagementDegreeListView' %}">学位</a>
			</li>
		</ul>
		<div class="am-tabs-bd">
			<div class="am-tab-panel am-active">
				<br>
				{% block tab_content %}
				{% endblock %}
			</div>
		</div>
	</div>
</div>
{% endblock %}
