{% extends 'dashboard/dashboard.html' %}

{% block content %}
<div class="am-cf am-padding">
	<div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">总览</strong> / <small></small></div>
</div>

<ul class="am-avg-sm-1 am-avg-md-4 am-margin am-padding am-text-center admin-content-list ">
	<li><a href="#" class="am-text-success"><span class="am-icon-btn am-icon-graduation-cap"></span><br/>结项学员<br/>2300</a></li>
	<li><a href="#" class="am-text-warning"><span class="am-icon-btn am-icon-users"></span><br/>辅导学员<br/>308</a></li>
	<li><a href="#" class="am-text-danger"><span class="am-icon-btn am-icon-calendar"></span><br/>累积时数<br/>80082</a></li>
	<li><a href="#" class="am-text-secondary"><span class="am-icon-btn am-icon-file-text"></span><br/>剩余任务<br/>3000</a></li>
</ul>

<div class="am-g">
	<div class="am-u-sm-12">
		<table class="am-table am-table-bd am-table-striped admin-content-table">
			<thead><tr><th>日期</th><th>学员</th><th>学员任务</th><th>deadline</th></tr></thead>
			<tbody>
				<tr>
					<td>2017/11/26</td>
					<td>John Clark</td>
					<td>阅读文献，挑选感兴趣的研究。</td>
					<td>2017/11/30</td>
				</tr>
				<tr>
					<td>2017/11/26</td>
					<td>John Clark</td>
					<td>阅读文献，挑选感兴趣的研究。</td>
					<td>2017/11/30</td>
				</tr>
				<tr>
					<td>2017/11/26</td>
					<td>John Clark</td>
					<td>阅读文献，挑选感兴趣的研究。</td>
					<td>2017/11/30</td>
				</tr>
				<tr>
					<td>2017/11/26</td>
					<td>John Clark</td>
					<td>阅读文献，挑选感兴趣的研究。</td>
					<td>2017/11/30</td>
				</tr>
				<tr>
					<td>2017/11/26</td>
					<td>John Clark</td>
					<td>阅读文献，挑选感兴趣的研究。</td>
					<td>2016/11/30</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
{% endblock %}
