{% extends 'registration/registration.html' %}

{% block panel %}
<div class="am-panel am-panel-primary">
	<div class="am-panel-hd"><h3 class="am-panel-title">密码重设</h3></div>
	<div class="am-panel-bd">
		<p>目前不支持密码重设功能，请联系您的导师</p>
		<a class="am-btn am-btn-primary am-u-sm-centered" href="{% url 'dashboard:login' %}">再次登录</a>
		<!--
		<form method="post" class="am-form">
			{% csrf_token %}
			<p>忘记你的密码了？<br>在下面输入你的电子邮件地址，我们将发送一封设置新密码的邮件给你。</p>
			<div class="form-row field-email">
				<label for="id_email">电子邮件地址</label>
				<br>
				{{ form.email }}
				<br>
				<div class="am-text-danger">{{ form.email.errors }}</div>
			</div>
			<input class="am-btn am-btn-primary am-u-sm-centered" type="submit" value="重设我的密码" />
		</form>
		-->
	</div>
</div>
{% endblock %}
