{% extends 'dashboard/dashboard.html' %}
{% block content %}

<div class="am-g">
	<div class="am-u-sm-12 am-u-md-10 am-u-md-centered">
		<article class="am-article">
			<div class="am-article-hd">
				<h1 class="am-article-title">{{object.title}}</h1>
			</div>

			<div class="am-article-bd">
				<p><strong>导师: </strong>{{object.teacher.userprofile.chinese_name}}</p>
				<p><strong>结束日期: </strong>{{object.end_date}}</p>
				<hr class="am-article-divider">
				<h2>内容:</h2>
				<p>{{object.content|linebreaks}}</p>
			</div>
		</article>
		<div class="am-form-group">
			<a class="am-btn am-btn-default am-fl" href={{ page_cancel }}>返 回</a>
		</div>
	</div>
</div>
{% endblock %}
